<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link href="style.css" rel="stylesheet">
  <title>My Online Learning Resource</title>
</head>

<body class="main-bg">
  <header>
<!-- nav-------------------------------------------------------------------------------------------------------------------------- -->
    <nav class="navbars">
      <select>
        <option>IT stuff</option>
        <option v-for="link in ITWebLinks"  v-html="link"></option>
      </select>
      <select>
        <option>general stuff</option>
        <option v-for="link in generalWebLinks"  v-html="link"></option>
      </select>
    </nav>
  <!-- /nav---------------------------------------------------------------------------------------------------- -->

    <div class="bg-img">
      <div class="content2 text-center">
        <h1>I record and share useful online study resource here!</h1>
        <p>Below are the websites and applications I'm using right now</p>
      </div>
    </div>
  </header>
  <!-- treahouse---------------------------------------------------------------------------------------------------------- -->
  <main>
    <section class="w-auto h-auto ">
      <section class="mx-auto my-5 w-75 outline">
        <svg class="float-img" xmlns="http://www.w3.org/2000/svg" x="0" y="0" viewBox="210.7 336.7 125 135"
          width="340px">
          <path class="logo" fill="transparent" d="M319.4,362.3c-4.3-2.5-11.3,1.4-15.5,8.8l-7.6,13.2c-2.8,5.5-2.4,12.1,1.2,17.2l0.3,0.3
            c3.5,5.1,8.3,9.7,9.8,11.4c0.9,0.9,1.6,2.2,2,3.5c1.3,4.6-1.4,9.4-6,10.6c-4.6,1.3-9.4-1.4-10.6-6c-0.3-1.2-0.4-2.4-0.3-3.4
            c0.3-2-0.4-5-3.1-8s-8.3,2.8-10.1,8.6l-0.1,0.3c-1.8,5.9-2.9,11-2.6,11.5c0.3,0.3,0.4,0.7,0.5,0.9c2.6,5,0.8,10.9-3.9,13.4
            c-4.7,2.5-10.6,0.8-13.2-4.1c-2.5-4.7-0.8-10.6,4.1-13.2c0.3-0.1,0.4-0.3,0.7-0.3c0.4-0.1,1.4-2.6,2.2-5.6c0.9-2.9,1.6-5.4,1.6-5.4
            c0.1-0.3,0.1-0.7,0.3-0.9l4.8-17.2l-5.1,10.6c-0.7-2-1.6-2.1-3.8-0.5c-1.3,0.9-3.5,2.9-4.6,3.5c-2,1.4-3.7,4.2-4.6,6
            c-0.5,1-1.3,2-2.2,2.8c-3.7,3-9,2.5-12.1-1.3c-3-3.7-2.5-9,1.3-12.1c1-0.9,2.4-1.4,3.5-1.7c2.2-0.5,9.6-5,14-8.1
            c0.8-0.5,1.4-1,2-1.6l11.8-9l-10.3,5.6c0,0-1-0.1-2.4,0c-3.8,0.4-7.7,0.9-8.4,1.8c-0.4,0.5-0.9,1-1.6,1.4c-3.4,2.5-8.3,1.7-10.7-1.7
            c-2.5-3.4-1.7-8.3,1.7-10.7c1.4-1,3-1.4,4.7-1.4c2.8,0.1,10.1,1.6,16.1,0.5l1.6-0.3c6-1,13.4-6.4,16.2-11.8c0,0,2.9-5,6.3-11.1
            c3.5-6.2,3.3-12.8-0.5-15.1l-6.9-3.9c-3.5-2-9.2-2-12.7,0l-47.7,26.9c-3.4,2-6.3,6.9-6.3,10.9v52.5c0,4.1,2.9,8.9,6.3,10.9
            l47.7,26.9c3.5,2,9.2,2,12.7,0l47.6-26.9c3.5-2,6.3-6.8,6.3-10.9v-52.5c0-4.1-2.9-8.9-6.3-10.9C327.2,366.8,323.7,364.8,319.4,362.3
            z" />
        </svg>
        <article class="card-body">
          <h5 class="card-title">Team Tree House</h5>
          <p class="card-text">Treehouse or is an online technology school that offers beginner to advanced courses in
            web design, web development, mobile development and game development. Its courses are aimed at beginners
            looking to learn coding skills for a career in the tech industry.</p>
          <a href="https://en.wikipedia.org/wiki/Treehouse_(company)">Wekipedia</a>
        </article>
        <figure>
          <img class="responsive-img mt-3" src="pic/tth-bgimg.png" atl="my progress in treehouse">
          <figcaption class="text-center fs-5"><i>I'm using TeamTreeHouse to learn web develepment, it's the best
              website I've tried for learning coding!</i></figcaption>
        </figure>
      </section>
      <!-- coursera------------------------------------------------------------------------------------------------- -->
      <section class="mx-auto my-5 w-75 outline" style="width: 18rem;">
        <img src="pic/coursera-logo.svg" class="card-img-top float-img2 mx-3" alt="coursera-logo" title="coursera logo">
        <article class="">
          <h5>Coursera</h5>
          <p>Coursera Inc. (/kərˈsɛrə/) is an American massive open online course provider founded in 2012 by Stanford
            University computer science professors Andrew Ng and Daphne Koller. Coursera works with universities and
            other organizations to offer online courses, certifications, and degrees in a variety of subjects. According
            to CNBC "more than 150 universities offered upwards of 4,000 courses through Coursera, which features over
            two dozen degree programs at prices that are lower than many in-person school offerings."</p>
          <a href="https://en.wikipedia.org/wiki/Coursera">Wekipedia </a>
        </article>
        <figure>
          <img class="responsive-img mt-3" src="pic/cou-bgimg.png" atl="main page in cousera">
          <figcaption class="text-center fs-5"><i>I've been using Coursera for over five years, there are a lot of
              amazing various courses!</i></figcaption>
        </figure>
      </section>

    </section>
      <!--youtube ---------------------------------------------------------------------------------------------------- -->
   
    <section class="youtube">
    <h2 class="youtube-title">Here are some youtube channel I find pretty helpful</h2>
    <p class="mt-3 mb-1">for knowledge related with computer science</p>
    <iframe class="col" src="https://www.youtube.com/embed/fXpMiweCC_o?list=PLU8oAlHdN5BnNAe8zXnuBNzKID39DUwcO"
      title="YouTube video player" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
    <iframe class="col" src="https://www.youtube.com/embed/vMN0rVY0g4Y" title="YouTube video player" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
    <iframe class="col" src="https://www.youtube.com/embed/tpIctyqH29Q?list=PL8dPuuaLjXtNlUrzyH5r6jN9ulIgZBpdo"
      title="YouTube video player" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
    <iframe class="col" src="https://www.youtube.com/embed/YoXxevp1WRQ" title="YouTube video player" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>

    <p class="mt-3 mb-1">for general information</p>
    <iframe class="col" src="https://www.youtube.com/embed/IoP9nBOZch8" title="YouTube video player" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
    <iframe class="col" src="https://www.youtube.com/embed/-2AgBC5hV4A" title="YouTube video player" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
    <iframe class="col" src="https://www.youtube.com/embed/GY9lNl3EO1I" title="YouTube video player" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
    <iframe class="col" src="https://www.youtube.com/embed/aKduNgfePLU" title="YouTube video player" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
    <iframe class="col" src="https://www.youtube.com/embed/5g6khOdJgfo?list=LL" title="YouTube video player"
      frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
    <iframe class="col" src="https://www.youtube.com/embed/7u_cm5b1s7Y" title="YouTube video player" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
    <iframe class="col" src="https://www.youtube.com/embed/s0dMTAQM4cw" title="YouTube video player" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
    <iframe class="col" src="https://www.youtube.com/embed/howv8sNxp_g" title="YouTube video player" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
    </section>
  </main>
  <!-- suggestion form -->
  <div class="form1">
    <form action="MainPage.html" method="post">
      <h3>Have any suggestions?</h3>
      <label for="exampleFormControlInput1" class="form-label">Email address</label>
      <label><small>(so I can reply you and remind you if any apdate may be relevent)</small></label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
      <label for="exampleFormControlTextarea1" class="form-label">tell me your suggestion:</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" required></textarea>
      <div class="d-grid gap-2 col-6 mx-auto mt-3">
        <button class="btn btn-primary" id="sug-submit" type="submit">Submit</button>
      </div>
    </form>
  </div>
  <!-- /suggestion form -->
  <footer>
    <p>&2021 treeihousie</p>
    <a href="suggestion.html">go to sug</a>
    <div id="sug"><p></p></div>
  </footer>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="3.2.1.mini.js" type="text/javascript" charset="utf-8"></script>
        <script src="script.js"></script></body>
</body>
</html>